# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - python compiled files
*.pyc


*.pem
*.crt
*.key
*.kid


venv/*
.venv/*

# Environment variable definitions
environment.*

# data files
t*.json

# IntelliyJ IDEA
.idea
# Visual Studio Code
.vscode
